*{
    margin: 0;
    padding: 0;
}


.box{
    width: auto;               
    height: 20rem;              
    background-color: #A7C9A5;                
    padding: 20px; 
    position: relative;                 
}
/* dette gør min grønne boks i toppen grøn og jeg har også valgt størrelsen på den */
.overlay{
    position: absolute; 
    top: 8rem;          
    left: 32rem;         
    width: 100px;       
    height: auto;       
    z-index: 1; 
}
/* class overlay laves det at mine billeder kommer foran boksen, og størrelsen bestemmes også */

.logo{
    position: absolute; 
    top: 6rem;          
    left: 38rem;         
    width: 15rem;       
    height: auto;       
    z-index: 100; 
}
/* class logo laves det at mine billeder kommer foran boksen, og størrelsen bestemmes også */  

.matcha-pulver{
    width: 100%;
    height: 100%;
    
}

body{
    background-color: #FAEBD7;
}
.logo{
    position: absolute; 
    top: 6rem;          
    left: 38rem;         
    width: 15rem;       
    height: auto;       
    z-index: 100; 
}
/* her laves min navbar */

.navbar {
    background-color: #A7C9A5;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #006400;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}
/* her laves det sådan at menubaren folder ud når musen er på */

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #006400;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #A7C9A5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #006400;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.tekst{
   font-size: medium;
   padding: 1rem;
   margin-left: 10%;
   margin-right: 10%;
   font-family: bebas-neue-v14-deprecated, sans-serif;
}

footer {
    display: flex;
    flex-direction: column; /* Arrangerer indholdet i en kolonne (tekst over billeder) */
    align-items: center; /* Centrerer alt horisontalt */
    justify-content: center; /* Centrerer alt vertikalt */
    color: #006400;
    font-family: bebas-neue-v14-deprecated, sans-serif;
    font-size: larger;
    font-weight: 600;
    padding: 2rem;
    text-align: center;
}

footer .find {
    margin-bottom: 1rem; /* Afstand mellem teksten og billederne */
}

footer .img-container {
    display: flex; /* Gør containeren for billederne til en fleksboks */
    justify-content: center; /* Centrerer billederne horisontalt */
    gap: 1rem; /* Laver mellemrum mellem billederne */
}

footer .img {
    width: 5%;
    height: auto;
}
.img{
    align-items: center;
   width: 20%;
   height: 20%;
}